body {
    background: url("mm.png");
    background-size: cover; 
    background-position: center;
}
.main{
	margin: 0 auto;
	margin-top:50px;
	padding: 1px;
	border-radius: 10px;
}
.modal-content{
	background: rgb(0.9,0,0.5,) ;
	opacity: .8;
	box-shadow: 0 0 10px;
	color: black;
    margin-left: 0px;
    font-size: 15px;
}
.fname {
    color: black;
    margin-left: 0px;
    font-size: 24px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
  }
  .divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
.submitBtn{
	width: 50%;
	height: 40px;
	margin-left: 25%;
	padding: 1px;
	border: 2px solid white;
}
.forgot-create a{
	color: rgb(0,0,0.5);
	font-size: 15px;
}